<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">I am Jeongmin Cha from South Korea, I have been learning Software development for over 1 year, I just became a developer from April 2018, I believe "No pain, No gains" and "Where there is a will, There is a way"</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>